{% extends "base.html" %} {% block content %}

<h4 align="center">Select Your Group</h4>

<div class="content-container">
  <div class="container">
    <div class="row">
      {%for x in groups_table %} {% if x.id %}
      <div id="card-container" class="col-sm">
        <div class="card">
          <a
            style="text-decoration: none; color: black"
            href="{{ url_for('bill', id=x.id) }}"
          >
            <div class="card-body">
              <h5 class="card-title">Group ID: {{x.id}}</h5>
              <p class="card-text">{{x.group_name}}</p>
            </div>
          </a>
        </div>
      </div>
      {%endif%} {%endfor%}
    </div>
  </div>
  <div class="form-container">
    <form action="new_group" , method="POST">
      <label for="group_name">Group name: </label>
      <input type="text" name="group_name" id="group_name" />
      <input type="submit" value="Add" />
    </form>
  </div>
</div>

{% endblock %}
